/*------------------------------------*\
    #Fonts
\*------------------------------------*/
@font-face {
    font-family: Ruleway;
    src:url('../font/raleway_thin-webfont.eot');
    src:url('../font/raleway_thin-webfont.woff') format('woff'),
        url('../font/raleway_thin-webfont.ttf') format('truetype'),
        url('../font/raleway_thin-webfont.svg') format('svg');
}
@font-face {
    font-family: Jennifer;
    src: url('../font/Jennifer.ttf') format('truetype');
}
/*------------------------------------*\
    #Global
\*------------------------------------*/
html *{
    font-family: inherit;
    font-weight: inherit;
}
html, body {
    font-family: Ruleway, 'Arial';
    color: white;
    background: #0084c2;
    width: 100wh;
}
h1 {
    font-size: 4.5em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
h2 {
    font-size: 2.5em;
    text-transform: uppercase;
}
h3 {
    font-size: 2em;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.80), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.80), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.80), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.80), rgba(255,255,255,0)); 
}
a:link, a:visited, a:hover, a:active   {
    color: white;
}
.button {
    cursor: pointer;
}
.box {
    width: 85%;
    border: 2px solid white;
    background: #2F3238;
    text-align: left;
    margin: 15px 0;
    padding: 15px;
    line-height: 2em;
}
.box h2 {
    text-align: center;
}
.desktopIndicator {
    display: block;
}
.handwritten {
    font-family: Jennifer, 'Arial';
    font-size: 2em;
}
.flexbox {
    -ms-box-orient: horizontal;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;        
    vertical-align: middle;     
}
.flexbox-justify-content-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flexbox-align-items-center {
    -webkit-align-items: center;
    align-items: center;
}
.flexbox-align-items-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.landing {
    min-height: 100vh;
    text-align: center;
    visibility: hidden;
}
.landing img {
    border-radius: 150px;
}
.intro {
    min-height: 80vh;
    visibility: hidden;
}
/*------------------------------------*\
    #Media querys
\*------------------------------------*/
@media only screen and (max-width: 1170px) {
    section h1 {
        font-size: 2.5em;
    }
    .box {
        line-height: 2em;
    }
    .intro {
        visibility: visible;
    }
    .desktopIndicator {
        display: none;
    }
}